.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ant-layout-header {
  color: white;
}

section .ant-layout {
  background-color: #f0f5ff;
}

.chartContainer {
  width: 800px;
  height: 320px;
  display: flex;
  flex-direction: column;
}

.chartTitle {
  margin-left: auto;
  margin-right: 5%;
}

.pieTitle {
  margin-left: auto;
  margin-right: auto;
}

.ant-input {
  width: 64px;
}

.ant-layout-content {
  text-align: center;
  min-height:250px;
  margin-top: 64px;
}

.headerTitle {
  width: 120px;
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
